<h1>Welcome
  <%=@user.name%>!


</h1>

<%= link_to 'Edit Account', edit_account_path %>
<%= link_to 'Controls', :controller => :controls, :action => :index %>
<%= link_to 'Sources', :controller => :sources, :action => :index %>
